* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:active, a:visited {
  color: inherit;
}

li {
  list-style: none;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

header ul li, footer ul li {
  margin: 0.5rem;
}

.yt, .sf, .ig, .ls, .sc {
  align-self: center;
}

.sc {
  font-size: 8px;
}