@use "variables";
@use "templates";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');

body {
    display: grid;
    grid-template-areas: 
        "hd hd hd hd"
        "yt yt sf sf"
        "ig ig ls ls"
        "sc sc sc sc"
        "ft ft ft ft";
        background: #B24592;
        background: -webkit-linear-gradient(to right, #F15F79, #B24592);
        background: linear-gradient(to right, #F15F79, #B24592);
        font: map-get($map: variables.$font-sizes, $key: "small") variables.$font-stack;
        text-align: center;
}

header, footer {

    background: #ddd6f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    ul {
        @include templates.flex-setting();

        li {
            margin: 1rem;
        }
    }
}

header {
    grid-area: hd;

    .kyoha {
        margin-right: auto;
    }
}

.yt, .sf {

    margin-top: 1rem;

    iframe {
        width: clamp(300px, 37.5rem, 90vw);
        aspect-ratio: 16 / 9;
    }
}

.yt {
    grid-area: yt;
    justify-self: center;

}

.sf {
    grid-area: sf;
}

.ig, .ls {
    margin-top: 1rem;
}

.ig {
    grid-area: ig;
    justify-self: center;
}

.ls {
    grid-area: ls;
    justify-self: center;
    width: clamp(300px, 37.5rem, 90vw);
    height: clamp(30rem, 32.5rem, 90vh);
    @include templates.flex-setting(column);
    writing-mode: vertical-rl;
    
    .poem {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 2 clamp(75px, 9.375rem, 22.5vw);
        font: map-get($map: variables.$font-sizes, $key: "extra-small") "Noto Sans JP";
        color: map-get($map: variables.$theme-colors, $key: "light-yellow");
        @include templates.std-border(4px, solid, map-get($map: variables.$theme-colors, $key: "rose-pink"));

        &:hover {
            flex: clamp(225px, 28.125rem, 75vw);
            font: map-get($map: variables.$font-sizes, $key: "medium") "Noto Sans JP";
        }
    }

    #eighteen, #sixtysix, #eightyfour {
        border-right: none;
    }
}

.sc {
    grid-area: sc;
    color: map-get($map: variables.$theme-colors, $key: "peach-puff");

    ul {
        @include templates.flex-setting;
        justify-content: center;

        li {
            margin: 2rem 1rem 1rem;

            a {
                @include templates.flex-setting;
                align-items: center;

                svg {
                    margin: 0 .25rem;
                }
            }
        }
    }
}

footer {
    grid-area: ft;

    .cookie {
        margin-left: auto;
    }
}