@use "variables";
@use "templates";

body {
    @include templates.flex-setting(column);
}

header, footer {
    ul {
        li {
            margin: .5rem;
        }
    }
}

.yt, .sf, .ig, .ls, .sc {
    align-self: center;
}

.sc {
    font-size: 0;
}